body{
   
    font-size: 15px;
}
.heading{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
    font-weight: bolder;
    margin-top: 30px;
    margin-left:600px

}
.heading1{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  align-items: center;
  font-weight: bolder;
  margin-top: 30px;
    margin-left:550px;
}
.card{
    margin-top: 50px;
    margin-left: 400px;
    max-width: fit-content;
    width: 900px;
    height: 500px;
    border-radius: 5px;
    box-shadow:  3px 2px 3px grey,
    3px 2px 3px rgb(189, 183, 183),4px 2px 4px rgba(55, 53, 27, 0.267);
    
   
}
.datas{
  width:400px;
  height:50px;
  border-radius: 5px;
  margin-left:450px;
  margin-top: 20px;
}

.show{
    background-color: rgb(33, 152, 77);
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    width:100px;
    height:50px;
    border-radius: 5px;
    margin-left:5px;
    box-shadow:  3px 2px 3px grey,
    3px 2px 3px rgb(189, 183, 183);
    border: none;
    transition: .2s;
  }

  .show:hover {
    background-color: rgba(0, 128, 26, 0.44);
    color: black;
  }

  .card-body{
    padding-left: 20px;
    padding-right: 20px;
    padding-top:20px;
    height: 30px;
    /* border:1px solid black; */
  }

  .card-head{
    font-family:  Helvetica;
    background-color: rgb(33, 152, 77);
    color: white;
    text-align: center;
    font-size: 22px;
    border-radius: 4px;
    font-weight: bolder;
    margin-left: 140px;
    padding :8px;
    justify-items: center;
    justify-content: center;
    height: 30px;
    width: 300px;
  }

  .card-img-top{
    height: 200px;
    align-items: center;
    max-width: fit-content;
    margin-left: 145px;
    margin-top: 10px;
  }

  .card-text1, .card-text2{
    /* max-width: fit-content; */
    font-size: 20px;
    width: 550px;
    margin-left: 20px;
    font-family: sans-serif;
    border-bottom: 1px solid black ;
    padding:3px;
    box-shadow: 1px 2px 1px grey;
    border-radius: 5px;
    font-weight: bolder;
    display: block;
    top:25px;
  }
  